* {
    margin: 3px;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(195, 34, 189);
    background: linear-gradient(0deg, rgba(195, 34, 189, 1) 0%, rgba(210, 52, 0, 1) 100%);
    background-repeat: no-repeat;
}

h1 {
    color: black;
    background-color: brown;
}

main {
    height: 800px;
}

p {
    color: black;
    background-color: brown;
}

main section{
    margin-top: 60px;
}
footer{
    background: rgb(131,18,4);
background: linear-gradient(90deg, rgba(131,18,4,1) 0%, rgba(121,78,9,1) 35%, rgba(255,200,0,1) 100%);
}
footer div ul{
    display: flex;
    background: rgb(131,18,4);
background: linear-gradient(90deg, rgba(131,18,4,1) 0%, rgba(121,78,9,1) 35%, rgba(255,200,0,1) 100%);
    
}