*{
    margin: 3px;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: black;
    background-color: brown;
}
main{
    
}

p{
    color: black;
    background-color: brown;
}